.fadeInHi {
  animation: fade-in 4s;
}

.fadeInComma {
  opacity: 0;
  animation: fade-in 4s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.fadeInRest {
  opacity: 0;
  animation: fade-in 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.shadow {
  text-shadow: 0 0 40px rgb(171, 171, 171);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
